body{
	background: url('/nwh/images/background.jpg') no-repeat center fixed;
	background-size: cover;
	padding-right: 0 !important;
}
@media only screen and (max-width:768px){
	body{
		background-position: 65% 35%;
	}
}
.login {
	margin-bottom:5px;
}
.dropdown-menu {
	width: 300px;
}

/* browse icon */
[hidden] {
	display: none !important;
}