body{
	background: url('/nwh/images/background.jpg') no-repeat center fixed;
	background-size: cover;
	padding-right: 0 !important;
}
.login {
	margin-bottom:5px;
}
.dropdown-menu {
	width: 300px;
}

/* browse icon */
[hidden] {
	display: none !important;
}