.galleryDiv {
	margin: 0 auto;
}

img.zoom {
	height: 150px;
	width: 218px;
	margin-bottom: 7px;
	margin-right: 4.5px;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
}

.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

div.tab {
	overflow: hidden;
	background-color: transparent;
}

div.tab button {
	background-color: #ccc;
	opacity: 0.8;
	width: calc(25% - 1px);
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 1px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #ccc;
}

div.tab button:hover {
	background-color: #ddd;
}

div.tab button.active {
	background-color: white;
}

.tabcontent {
	background: rgba(255, 255, 255, 0.8);
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tabcontent {
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}