/images/profilepics/*
/images/bankreferences/*
/node_modules/*
/files/backup/*

!images/profilepics/index.php
!images/profilepics/default
!images/bankreferences/index.php
!images/bankreferences/default

# ini
config.ini

# Office Temp Files
~$*


# Temp Files
*.temp
*.tmp