/images/profilepics/*
/images/bankreferences/*
/node_modules/*
/files/backup/*

!images/profilepics/default
!images/bankreferences/index.php

# ini
config.ini

# Office Temp Files
~$*


# Temp Files
*.temp
*.tmp

.htaccess
_thumbs/*

# Keys
/key