.booknow{
	background-color:white;
	opacity:0.9;
	height:auto;
	width: 80%;
	margin-bottom: 40px;
	border-radius: 10px;
}
.booknow-content{
	padding:10px;
	padding-bottom:0px;
}
.booknow-content .form-group{
	padding-bottom:10px;
}
.booknow-content label{
	margin-left:20px;
}
.booknow-content input{
	width:15%;
}
@media only screen and (max-width: 768px) {
	.booknow{
		width: 100%;
		border-radius: 0px;
	}
	.booknow-content{
		display:block;
		margin:10px;
		margin-left:0px;
		margin-right:0px;
		padding:10px;
	}
	.booknow-content input{
		width:80% !important;
		margin:0 auto;
		margin-bottom:10px;
	}
	.booknow-content button{
		margin:0 auto;
		display:block;
		width:80%;
		margin-bottom:10px;
	}
	.booknow-content .form-group{
		padding-bottom:0px;
	}
}
input[type="date"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
}