/*northwood logo overlay*/
.overlay{
	background-color:white;
	margin-top:-70px;
}
.overlay::after {
	position: absolute;
	background: url('../../images/below-logo.png') no-repeat;
	margin-top: -200px;
	background-size: cover;
	height: 200px;
	width: 100%;
	content: '';
	z-index: 1;
}
.logo-overlay::after{
	position: absolute;
	background: url('../../images/logo-overlay.png') no-repeat center center;
	margin-top: -200px;
	height: 200px;
	width: 100%;
	content: '';
	z-index: 2;
	background-size:contain;
}
.logo-text::after{
	position: absolute;
	text-align: center;
	margin-top: -27px;
	height: 30px;
	color: white;
	width:100%;
	content: '21 Quezon Ave. Poblacion, Alaminos City Pangasinan';
	z-index: 3;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.overlay::after{
		margin-top:-65px;
		height: 70px;
	}
	.logo-overlay::after{
		margin-top: -85px;
		height: 65px;
	}
	.logo-text::after{
		margin-top: -20px;
		height: 40px;
		font-size:x-small;
	}
}
