img.zoom {
  height: 150px;
  width: 221px;
  margin-bottom: 7px;
  margin-right: 4px;
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
}

img.zoom:nth-child(5n+5) {
  margin-right: 0;
}

img.zoom:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

@media only screen and (max-width:768px) {
  img.zoom {
    width: 100%;
  }
}