/* ANIMATION IMAGEHOVER */

[class*=" imghvr-"], [class*=" imghvr-"] *, [class*=" imghvr-"]:after, [class*=" imghvr-"] :after, [class*=" imghvr-"]:before, [class*=" imghvr-"] :before, [class^=imghvr-], [class^=imghvr-] *, [class^=imghvr-]:after, [class^=imghvr-] :after, [class^=imghvr-]:before, [class^=imghvr-] :before {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease
}

/* JSSOR */

.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jssorb064 {
  position: absolute;
}

.jssorb064 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb064 .i .b {
  fill: #000;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  stroke-opacity: 0.5;
}

.jssorb064 .i:hover .b {
  fill-opacity: .8;
}

.jssorb064 .iav .b {
  fill: #ffe200;
  fill-opacity: 1;
  stroke: #ffaa00;
  stroke-opacity: .7;
  stroke-width: 2000;
}

.jssorb064 .iav:hover .b {
  fill-opacity: .6;
}

.jssorb064 .i.idn {
  opacity: .3;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: .8;
}

.jssora051.jssora051dn {
  opacity: .5;
}

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none;
}

.jssorb064 {
  position: absolute;
}

.jssorb064 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb064 .i .b {
  fill: #000;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  stroke-opacity: 0.5;
}

.jssorb064 .i:hover .b {
  fill-opacity: .8;
}

.jssorb064 .iav .b {
  fill: #ffe200;
  fill-opacity: 1;
  stroke: #ffaa00;
  stroke-opacity: .7;
  stroke-width: 2000;
}

.jssorb064 .iav:hover .b {
  fill-opacity: .6;
}

.jssorb064 .i.idn {
  opacity: .3;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: .8;
}

.jssora051.jssora051dn {
  opacity: .5;
}

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: .8;
}

.jssora051.jssora051dn {
  opacity: .5;
}

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none;
}

/* BOOK NOW CONTENT */

.booknow {
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  border-color: rgb(214, 214, 214);
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.booknow-content {
  padding: 10px;
  padding-bottom: 0px;
}

.booknow-content .form-group {
  padding-bottom: 10px;
}

.booknow-content label {
  margin-left: 20px;
}

.booknow-content input {
  width: 15%;
}

@media only screen and (max-width: 768px) {
  .booknow {
    width: 100%;
    border-radius: 0px;
  }
  .booknow-content {
    display: block;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 20px;
  }
  .booknow-content input {
    width: 100% !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .booknow-content button {
    margin: 0 auto;
    display: block;
    width: 80%;
    margin-bottom: 10px;
  }
  .booknow-content .form-group {
    padding-bottom: 0px;
  }
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* HOME CONTENT */

.homeContent {
  background: url('../../images/nwh_grass.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  text-align: justify;
}

@media only screen and (max-width:768px) {
  p {
    font-size: 15px !important;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}

/* YOUTUBE */

.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}

.youtube img {
  width: 100.5%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}

.youtube img, .youtube .play-button {
  cursor: pointer;
}

.youtube img, .youtube iframe, .youtube .play-button, .youtube .play-button:before {
  position: absolute;
}

.youtube .play-button, .youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0);
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}