.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}

@media only screen and (max-width:768px) {
  .stepwizard {
    width: 100%;
  }
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

ul.rooms {
  list-style-type: none;
}

ul.rooms li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.room-label {
  border: 1px solid #fff;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.room-label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.room-label figure {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  width: 360px;
}

:checked+.room-label {
  border-color: #ddd;
}

:checked+.room-label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
  z-index: 1000;
}

:checked+.room-label figure {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
}

.container-fluid {
  width: 100%;
}