[system]
timezone = Asia/Manila
debug = false
allow_creator_privileges = false
chat = false
offline_mode = false
auto_login_at_register = false
admin_reload_interval = 9999
node_js_url = http://localhost:8755
verify_register = false

[date]
max_birth_year = 2009
date_format = mm/dd/yyyy

[expiration]
email_expiration = 10   ;minutes
forgot_expiration = 10  ;minutes

[reservation]
edit_reservation_days = 1
max_adults = 10
max_children = 10

[paypal]
client_id_paypal = Aemf_RWl8szBshCXucOarBPFyP2hx12OxsTrt-7R9MUoTXhmEcq91breJ8M8hL-ho8dc5FwHMnlYeB9I
secret_paypal = ECydcgfF0tTJzy8TVLUBXJyjFxdlcveYY9BTbfrKs9AQZ0KK0omVfCe9Sl3CRaj55C0B0gMz1HDdYiHd